@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	background-color: #f3f3f3;
	font-family: arial;
}

.centerWithContent {
	width: 80.35%;
	margin: 0 auto;
}

/* Logo bar and menu */

#logoBar {
	background-color: #404c5a;
	height: 75px;
	width: 100%;
	margin-bottom: 14px;
	color: white;
}

.pantheraLogo {
	background-image: url('../../../images/admin/pantheraUI/logo.png');
	background-repeat: no-repeat;
	background-position: 0 2px;
	height: 52px;
	color: white;
}

.pantheraLogo span {
	position: relative;
	top: 10px;
	margin-left: 78px;
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-size: 30px;
}

.pantheraLogo a, .pantheraLogo:visited {
	color: white;
}

.userBar {
	position: relative;
	top: 10px;
	float: right;
	padding-right: 3px;
}

.userAvatar {
	display: inline-block;
	border: solid #6e8093 1px;
	width: 28px;
	height: 28px;
	float: right;
	margin-right: 5px;
	position: relative;
	top: 10px;
}

.userMenu {
	display: inline-block;
}

#menuBarVisibleLayer {/* Only just a visible layer, not a content, the content is in #menuBar */
	position: relative;
	background-color: #56687b;
	height: 21px;
	width: 100%;
	border-bottom: solid #6a7b8f 1px;
}

#menuBar {
	position: relative;
	font-weight: 700;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 5px;
	margin-bottom: 250px;
}

.menuIcon {
	position: relative;
	top: 2px;
	margin-left: 2px;
}

.menuText {
	position: relative;
	top: -5px;
	display: inline-block;
	margin-right: 10px;
}

.menuItem {
	display: inline-block;
	height: 22px;
	cursor: pointer;
	color: white;
}

.menuItem a, .menuItem a:visited {
	color: white;
}

.menuItem:hover {
	background-color: #404c5a;
}

/* Content container */

.content {
	position: relative;
	background-color: #e5ebef;
	border: solid #6a7b8f 1px;
	min-height: 400px;
	min-width: 864px;
}

.titleBar {
	position: relative;
	width: 100%;
	background-color: #404c5a;
	border-bottom: solid #343e4a 1px;
	height: 23px;
	color: #ececec;
	font-weight: 700;
	font-size: 12px;
}

.textTitleBar {
	position: relative;
	padding: 7px;
	top: 4px;
}

.titleBarIcons {
	position: relative;
	margin-left: 10px;
	margin-right: 1px;
	cursor: pointer;
}

.iconPopupLi {
	width: 10px;
	background-color: transparent;
}

.pantheraIcon {
	background: url('../../../images/admin/pantheraUI/icons.png') no-repeat;
	height: 15px;
	width: 15px;
	margin-right: 3px;
	display: inline-block;
}

/* Icons */
.icon-Configure {
	background-position: -540px -25px;
}

.icon-Back {
	background-position: -271px 0px;
}

.icon-Home {
	background-position: -293px -24px;
}

.icon-Unlocked {
	background-position: -27px -134px;
}

.icon-Locked {
	background-position: 3px -134px;
}

.icon-Users {
	background-position: -378px 1px;
}

.icon-Add {
	background-position: -350px -133px;
}

.icon-Settings {
	background-position: -536px -24px;
}

.icon-Arrow {
	background-position: -77px -247px;
}

.icon-Language {
	background-position: -430px -80px;
}

.icon-Search {
	background-position: -349px -24px;
}

.icon-Flag {
	background-position: -484px -25px;
}

#topContent {
	position: relative;
	min-height: 90px;
	background: url('../../../images/admin/pantheraUI/searchbar-bg.png');
	background-repeat: repeat;
	border-bottom: solid #56687b 2px;
	border-left: solid #6e8093 1px;
	border-top: solid #6e8093 1px;
	border-right: solid #6e8093 1px;
}

/* Footer */

#footer {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 25px;
	font-size: 12px;
	color: #404c5a;
}

#footer a {
	color: #404c5a;
}

/* Forms */

.select {
	display: inline-block;
	float: left;
	width: 236px;
	height: 24px;
	margin: 0;
	overflow: hidden;
	background: url('../../../images/admin/pantheraUI/select.png') no-repeat right #404c5a;
	border: solid 1px #6e8093;
}

.select select {
	background: transparent;
	width: 237px;
	padding: 3px;
	font-size: 14px;
	color: white;
	border: 0;
	border-radius: 0;
	height: 23px;
	outline: 0;
	-webkit-appearance: none;
	cursor: pointer;
}

select option {
	background-color: #404c5a;
	color: #fff;
}

a {
	color: black;
	text-decoration: none;
}

a:active {
	color: #404c5a;
}

/* Dash items */
.dash {
	text-align: center;
	display: block;
	min-width: 864px;
}

.dash .dashItem {
	margin-top: 10px;
	display: inline-block;
	position: relative;
	text-align: center;
	width: 71px;
	height: 85px;
	vertical-align: top;
	top: 8px;
	margin-bottom: 10px;
}

.dash .dashItem a {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
	text-decoration: none;
}

.dash .dashItem a .icon {
	position: relative;
	width: 32px;
	height: 32px;
}

.dash .dashItem a .text {
	position: relative;
}

.dash .dashItem a:hover {
	color: #f3f3f3;
	font-size: 11px;
	transition-duration: 0.2s;
}

.dash .separator {
	margin-top: 10px;
	display: inline-block;
	height: 67px;
	background: url('../../../images/admin/pantheraUI/pager.png');
}

/* Ajax content */

.ajax-content {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 200px;
}

/* Panthera table */

.pantheraTable table {
	display: table;
	vertical-align: top;
	/* border: 1px solid #b8bcbf; */
	border-bottom: 0px;
	border-collapse: collapse;
	text-align: left;
	/* min-width: 350px; */

	margin-right: 30px;
	color: black;
}

.pantheraTable thead {
	background-color: #56687b;
}

.pantheraTable th {
	padding-left: 7px;
	font-weight: 200;
	color: #fff;
	font-size: 12px;
	height: 22px;
}

.pantheraTable th a {
	color: #fff;
}

.pantheraTable tfoot {
	border-bottom: 0px;
	background-color: #56687b;
}

.pantheraTable tfoot td, tfoot, tfoot th {
	border: 0px;
}

.pantheraTable tfoot th {
	font-size: 11px;
	color: #b8bcbf;
}

.pantheraTable thead th {
	padding-right: 5px;
}

.pantheraTable tbody {
	background-color: #fff;
}

.pantheraTable td {
	border-right: 1px solid #b8bcbf;
	border-bottom: 1px solid #b8bcbf;
	border-left: 1px solid #b8bcbf;
	height: 35px;
	padding-right: 35px;
	font-size: 13px;
	font-weight: 100;
	padding-left: 20px;
}

.hovered tr:hover {
	background-color: #e5ebef;
	transition-duration: 0.15s;
}

.pantheraTable tbody tr:nth-child(even) {
	background-color: #f3f3f3;
}

/* Dash avatar */
#dashAvatar {
	width: 10px;
	padding-left: 2.5px;
	padding-top: 3px;
	padding-right: 2px;
	text-align: center;
	min-width: 40px;
}

/* Form elements */

input[type=button], input[type=submit] {
	min-width: 100px;
	height: 25px;
	background: url('../../../images/admin/pantheraUI/button.png');
	background-repeat: repeat-x;
	color: #fff;
	padding: 4px;
	outline: 1px solid #3d4957;
	border: solid 1px #7c8a98;
	font-size: 12px;
	cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
	background: url('../../../images/admin/pantheraUI/button2.png');
}

input[type="text"], input[type="number"], input[type="password"], textarea {
	background: #3d4957;
	outline: 1px solid #3d4957;
	border: solid 1px #7c8a98;
	padding: 5px;
	color: #fff;
	font-size: 11px;
	min-width: 200px;
}

input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, textarea:hover {
	background: #3d4957;
}

.pantheraCheck {
	width: 18px;
	margin: 18px auto;
	position: relative;
}

.pantheraCheck label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
	border: 1px solid #3d4957;
	background: #6e8093;
}

.pantheraCheck label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 2px solid #ececec;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-52deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.pantheraCheck label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.pantheraCheck input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.menuArrow {
	position: absolute;
	top: -2px;
	right: 7px;
	padding: 0px;
	margin: 0px;
	font-size: 32px;
}

.menuArrowBackground {
	position: absolute;
	top: 1px;
	right: 1px;
	background: #6e8093;
	width: 24px;
	height: 28px;
}

ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.dropdown {
	position: relative;
	z-index: 597;
	float: left;
}

ul.dropdown li {
	float: left;
	min-height: 1px;
	line-height: 1.3em;
	vertical-align: middle;
}

ul.dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 598;
	width: 100%;
}

ul.dropdown ul li {
	float: none;
}

ul.dropdown ul ul {
	top: 1px;
	left: 99%;
	border: solid 1px #56687b;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

ul.dropdown li {
	padding: 7px 0;
	background-color: #000;
	color: #fff;
	line-height: normal;
}

ul.dropdown a:link, ul.dropdown a:visited {
	color: #fff;
	text-decoration: none;
}
ul.dropdown a:hover {
	color: #76b900;
	text-decoration: none;
}
ul.dropdown a:active {
	color: #fff;
}

/* -- level mark -- */

ul.dropdown ul {
	background-color: #404c5a;
	font-size: 11px;
	text-transform: none;
	/*filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;*/
}

ul.dropdown ul li {
	background-color: transparent;
	color: #000;
	filter: none;
}

ul.dropdown ul a:link, ul.dropdown ul a:visited {
	color: #fff;
}
ul.dropdown ul a:hover {
	color: #fff;
	text-decoration: none;
}
ul.dropdown ul a:active {
	color: #fff;
}

ul.dropdown *.dir {
	padding-right: 38px;
	background-image: none;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border: solid 1px #6e8093;
	font-size: 11px;
}

ul.dropdown li a {
	display: block;
	padding: 7px 14px;
}

ul.dropdown li {
	padding: 0;
	background-color: #404c5a;
}

ul.dropdown li.dir {
	padding: 7px 20px 7px 14px;
}

ul.dropdown ul li.dir {
	padding-right: 15px;
}

ul.dropdown ul a {
	padding: 4px 5px 4px 14px;
}

ul.dropdown ul a:hover {
	background-color: #ffffff;
	color: #404c5a;
}

ul.dropdown ul li:hover > a.dir {
	background-color: white;
	color: white;
}

ul.dropdown li:hover > a.dir {
	color: white;
	border-bottom: 0px;
}

#iconPopupA {
	display: inline-block;
	width: 5px;
	height: 5px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.dropdownFixed ul {
	width: 400px;
	margin-right: 25px;
}

#popupOverlay {
	display: none;
}

#popupOverlay, .popupOverlay {
	position: absolute;
	z-index: 100;
	padding-bottom: 15px;
	width: 100%;
	vertical-align: center;
	outline: solid 1px #6e8093;
	border-top: solid 1px #404c5a;
	background-color: rgba(86, 104, 123, 0.94);
	background: url('../../../images/admin/pantheraUI/searchbar-bg.png');
	opacity: 0.98;
	border-bottom: solid 1px #000;
}

.formTable thead {
	background: transparent;
}

.formTable tfoot {
	background: transparent;
}

.popupHeader {
	color: #e5ebef;
	padding: 0px;
	margin: 0px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.popupQuestion {
	display: inline-block;
	margin: 0 auto;
	margin-top: 60px;
	min-width: 400px;
}

.popupQuestionOverlay {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	height: 100%;
	opacity: 0.95;
}

.popupContainer {
	padding-left: 50px;
	padding-top: 50px;
}

.centeredObject {
	position: relative;
	margin: 0 auto;
}

.titledSeparator {
	background-color: #404c5a;
	height: 23px;
	text-align: center;
	color: #ffffff;
	padding-top: 2px;
	font-size: 16px;
	font-weight: 700;
	outline: solid 1px #3d4957;
	border-top: solid 1px #6e8093;
	border-bottom: 0px;
}

.iconViewContainer {
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.iconViewItem {
	display: inline-block;
	position: relative;
	width: 229px;
	height: 70px;
	margin-right: 30px;
	margin-bottom: 2px;
	color: #ffffff;
}

.iconViewItem img {
	display: inline-block;
	padding: 15px;
	padding-right: 8px;
	max-width: 36px;
}

.iconViewItem p {
	display: inline-block;
	position: absolute;
	top: 1px;
	font-weight: 700;
	font-size: 12px;
}

.iconViewItem span {
	display: inline-block;
	margin-left: 1px;
	font-weight: 100;
	font-size: 10.5px;
	font-style: italic;
}

.iconViewItem a, .iconViewItem a:visited {
	color: white;
}

.iconViewItem a:active {
	color: #e6e9f1;
}

.settingsBackground {
	background-color: #56687b;
}

.pager {
	margin-top: 8px;
	margin-left: 8px;
	color: #404c5a;
	font-size: 12px;
}

.separatorHorizontal {
	background-color: #6f8094;
	border-top: solid 1px #3c4755;
	width: 100%;
	height: 1px;
}

.searchBarButtonArea {
	margin-top: 11px;
	margin-bottom: 10px;
	text-align: right;
	padding-right: 10px;
}

.searchBarButtonAreaLeft {
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.formTable {
	background: transparent;
	border: 0px;
	padding: 5px;
}

.formTable th {
	font-size: 13px;
	font-weight: 700;
	padding: 10px;
}

.formTable td {
	border: 0px;
	padding: 0px;
}

.formTable tbody tr:nth-child(even) {
	background-color: transparent;
}

.formTable tbody {
	background: transparent;
}

.formTable tbody td {
	padding-right: 90px;
}

.formTable tbody th {
	padding-left: 90px;
}

.formTable tfoot {
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
}

.formTableHeader {
	padding-top: 0px;
	padding-bottom: 30px;
}

.formTableHeader p {
	color: #E5EBEF;
	font-size: 20px;
	font-weight: 600;
	padding: 0px;
	margin: 0px;
}

.formTableHeader td {
	padding-top: 0px;
	padding-bottom: 30px;
}

.formTableHeader tr {
	background-color: transparent;
}

.dashWidget {
	display: inline-block;
}

.underTableDescription {
	text-align: left;
	padding: 15px;
}

.galleryItem {
	width: 230px;
	max-height: 300px;
	background: #56687B;
	border: solid rgba(0, 0, 0, 0.5) 1px;
	border-radius: 3px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline;
	float: left;
}

.galleryItem div.galleryImageFrame {
	width: 100%;
	background: #56687B;
	height: 200px;
	text-align: center;
	position: relative;
}

.galleryItemHidden {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.paGalleryFrameOverlay {
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	color: #FFF;
	font-size: 11px;
	left: 0;
	padding: 6px;
	position: absolute;
	right: 0;
	text-align: center;
	word-break: break-all;
	margin-bottom: -5px;
}

.paGalleryFrameOverlay a {
	color: white;
}

.paGalleryFrameOverlayAdd {
	position: absolute;
	left: 0px;
	top: 0px;
	background: #56687B;
	width: 100%;
	height: 100%;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	color: white;
	display: none;
}

.paGalleryFrameContent {
	width: 230px;
	height: 205px;
	margin-top: 4px;
	background: #56687B;
}

.galleryItem div.galleryImageFrame:hover .paGalleryFrameOverlay {
	display: block;
}

.galleryImage {
	max-height: 201px;
	max-width: 220px;
}

.galleryItem div.galleryItemDetails {
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
	border-top: 6px solid #404C5A;
}

.galleryIcon {
	width: 16px;
}

.galleryBox {
	width: 824px !important;
	float: center;
	display: inline-block;
	padding: 20px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.imageBox {
	height: 206px;
	width: 206px;
	overflow: hidden;
	display: inline-block;
	float: left;
	-webkit-transition-duration: 500ms;
	-webkit-transition-property: margin-left, margin-right, margin-top;
}

.addBox {
	height: 100px;
	width: 100%;
	position: relative;
	border-radius: 2px;
}

.selectedBox {
	padding-top: 65px;
	display: none;
	min-height: 0px;
	width: 150px;
	height: 65px;
	margin-top: -30px;
}

.image {
	margin: 2px 3px 3px 2px;
	display: inline-block;
	height: 200px;
}

.imagePicture {
	width: 200px;
	height: 200px;
	-webkit-transition-duration: 300ms;
}

.imageOptions {
	width: 200px;
	position: relative;
	top: -100px;
	opacity: 0;
	transition: opacity .5s;
	overflow: hidden;
}

.imageOptionsBackground {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
	position: relative;
	height: 83px;
}

.imageOptions p {
	position: relative;
	top: 35px;
	font-size: 11px;
	color: white;
}

#imageTitle {
	top: 40px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.imageOptions p a {
	color: white;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	cursor: pointer;
	font-size: 11px;
	line-height: 18px;
	padding-left: 5px;
}

.imageOptions p a:hover {
	text-decoration: underline;
}

/****** Progressbar: https://github.com/rstacruz/nprogress *******/

/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
	-webkit-pointer-events: none;
}

#nprogress .bar {
	background: #6e8093;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.2px;
}

/* Fancy blur effect */
#nprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display: block;
	position: fixed;
	z-index: 100;
	top: 15px;
	right: 15px;
}

#nprogress .spinner-icon {
	width: 14px;
	height: 14px;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 10px;
	-webkit-animation: nprogress-spinner 400ms linear infinite;
	-moz-animation: nprogress-spinner 400ms linear infinite;
	-ms-animation: nprogress-spinner 400ms linear infinite;
	-o-animation: nprogress-spinner 400ms linear infinite;
	animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
0%   { transform: rotate(0deg);   transform: rotate(0deg); }
100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.wrap {
	background: rgba(214, 214, 214, 0.5);
	border: solid rgba(0, 0, 0, 0.5) 1px;
	border-collapse: collapse;
	float: left;
	height: 350px;
	margin: 10px;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 0px;
	moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: relative;
	webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 70%;
}
.uploadToolbox {
	background: rgba(214, 214, 214, 0.5);
	border: solid rgba(0, 0, 0, 0.5) 1px;
	border-collapse: collapse;
	float: right;
	height: 350px;
	margin: 10px;
	moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	width: 25%;
}
.uploadToolBoxInner {
	padding-left: 20px;
	padding-top: 10px;
}
.uploadBox {
	display: inline-block;
	position: relative;
	width: 16%;
}
.boxInner {
	background: #56687B;
	border: solid rgba(0, 0, 0, 0.5) 1px;
	margin-top: 5px;
	height: 80px;
}
.boxInner img {
	cursor: pointer;
	max-height: 80px;
	max-width: 100%;
}
.boxImg {
	align: top;
	width: 100%;
	vertical-align: middle;
}
.boxInner .titleBox {
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	color: #FFF;
	font-size: 11px;
	left: 0;
	padding: 6px;
	position: absolute;
	right: 0;
	text-align: center;
	word-break: break-all;
}
.uploadBoxCentered {
	background-color: #404C5A;
	border: solid 1px #6E8093;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-left: 1px;
	padding-top: 3px;
	padding-bottom: 8px;
	min-height: 300px;
	position: relative;
	width: 65%;
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	display: block;
	z-index: 999999999999;
	border: solid 1px #56687B;
	border-radius: 0;
}

.ui-menu-item {
	background: #404C5A;
	color: white;
}

.ui-state-focus:hover {
	background: white;
}

.ui-menu-item a {
	font-size: 11px;
	color: white;
}

.ui-menu-item a:hover {
	color: #404C5A;
}

* html .ui-autocomplete {
	height: 100px;
}

.articleTitlebar {
	background-color: #56687b;
	padding: 6px;
	padding-left: 10px;
	min-width: 800px;
}

.articleTitlebar a {
	color: white;
	font-size: 13px;
}

.inactiveArticle {
	color: grey;
}

.articleUnpublished {
	opacity: 0.6;
}

.articleContainer {
	text-align: left;
	margin: 0 auto;
	width: 75%;
	background-color: #ffffff;
	border: solid 1px #b8bcbf;
	margin-top: 15px;
	min-width: 820px;
}

.articleContent {
	margin-top: -15px;
	padding: 10px;
	font-size: 14px;
}

.articleFooter {
	float: right;
	height: 25px;
}

.icon-Edit {
	background-position: -161px 0px;
}

.icon-Delete {
	background-position: -216px -134px;
}

.articleIcons {
	float: right;
}

.menuItem img {
	width: 20px;
	height: 20px;
}

.ui-tooltip, .arrow:after {
	background: #404c5a;
	border: 1px solid #6e8093;
	max-width: 500px;
}
.ui-tooltip {
	padding: 5px 10px;
	color: white;
	font: bold 12px "Helvetica Neue", Sans-Serif;
	max-width: 500px;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

.tableTopRow {
	border-top: solid #b8bcbf 1px;
}

.tipBlock {
	background-color: white;
	display: inline-block;
	border: solid 1px #b8bcbf;
	margin-bottom: 25px;
	background-image: url('../../../images/admin/menu/syschecksum.png');
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 5px;
	text-align: left;
}

.tipBlockInside {
	padding: 15px;
	padding-left: 50px;
	font-size: 12.2px;
}

.tableTitleHeader {
	background-color: #404c5a;
}

code {
	color: #C2C2C2;
	margin-top: 5px;
	margin-bottom: 35px;
}

.instructionBox {
	margin-left: 100px;
	margin-right: 100px;
	color: white;
}

.instructionBoxDescription {
	margin-left: 5px;
}